.section-movies {
  p {
    margin-bottom: .5rem;
  }

  .movie-box {
    box-shadow: -6px 6px var(--white-color);
     &:hover {
      box-shadow: inset -6px 6px 0 15px var(--red-color);
    }

    img {
      &:hover {
        transform: scale(.96);
      }
    }
  }

  .btn-outline-primary {
    --bs-btn-color: var(--yellow-color);
    --bs-btn-border-color: var(--white-color);
    --bs-btn-hover-color: #fff;
    --bs-btn-hover-bg: var(--yellow-color);
    --bs-btn-hover-border-color: var(--yellow-color);
    --bs-btn-focus-shadow-rgb: 13, 110, 253;
    --bs-btn-active-color: var(--black-color);
    --bs-btn-active-bg: var(--yellow-color);
    --bs-btn-active-border-color: var(--yellow-color);
    --bs-btn-active-shadow: inset 0 3px 5px rgba(0, 0, 0, 0.125);
    --bs-btn-disabled-color: var(--yellow-color);
    --bs-btn-disabled-bg: transparent;
    --bs-btn-disabled-border-color: var(--yellow-color);
    --bs-gradient: none;
  }

  .btn-check:checked+.btn {
    color: var(--black-color);
    background-color: var(--yellow-color);
    border-color: var(--yellow-color);
    border: 1px solid var(--white-color);
  }
  
  .btn {
    border: 1px solid var(--white-color);
  }

    
}