.section-user {
  margin-block-start: 2rem;
  font-size: 20px;
  .center {
    background-color: var(--white-color);
    padding: 2rem 2rem 5.3rem 2rem;

    img {
      max-height: 25rem;
      object-fit: cover;
    }

  }
  .btn {
    background-color: var(--red-color);
    color: var(--white-color);

    &:hover {
      color: var(--black-color);
    }
  }
}

.separator {
  background-color: var(--red-color);
  width: 200px;
  height: 5px;
}

.section-movies {
  .card {
    background-color: var(--white-color);
    max-width: 24rem;
    border-radius: 0;
    padding: 1rem;
    box-shadow: -4px 4px 0 3px var(--red-color);
    
    .card-title{
      color: var(--black-color);
    }

    .btn {
      background-color: var(--white-color);
      --bs-btn-hover-border-color: #c6b604;
      color: var(--red-color);
      border: 2px solid var(--red-color);
    }

    img {
      border-radius: 0;
    }
  }
}